{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
  <div class="card" style="width:300px; margin:100px auto;">
    <div class="card-body">
      <form action="{% url 'accounts:login' %}" method="POST">
        <h2 style="margin-bottom:20px;">login</h2>
        {% csrf_token %}
        {% bootstrap_form form class="justify-content-center " %}
        <input class="btn" type="submit" value="로그인" style="background-color: rgb(232,240,254)">
        <hr>
        <a class="btn" href="{% url 'accounts:signup' %}" style="text-decoration:none; color:black; background-color: rgb(232,240,254);">회원가입</a>

      </form>
    </div>
  </div>

{% endblock content %}